/* ====================================================
            ******** Fonts *********
==================================================== */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;700&display=swap');

/* ====================================================
            ******** Fonts *********
==================================================== */

/* ====================================================
            ******** Utilities *********
==================================================== */
:root {
    --primary-color: #5D5FEF;
    --secondary-color: #A3A3A3;
}

body {
   
    margin: 0 auto;
    background-color: #F6F6F6;
    font-family: 'Roboto', sans-serif;
}


.news-bg-primary {
    background-color: #5D5FEF;
}

.news-text-primary {
    color: var(--primary-color);
}

.news-text-secondary {
    color: var(--secondary-color);
}

.news-font-secondary {
    font-family: 'Playfair Display', serif;
}

.news-image {
    width: auto;
    height: 350px;
}

/* ====================================================
            ******** Utilities *********
==================================================== */


/* ====================================================
            ******** nav bar links *********
==================================================== */

li a:is(:link, :active, :visited).news-active:after{
    content: "";  
    display: block; 
    margin: 0 auto; 
    width: 50%; 
    padding-top: 0px; 
    border-bottom: 3px solid var(--primary-color);
}
li a:is(:link, :active, :visited).news-active{
    color: var(--primary-color);
    font-weight: 700;
}

/* ====================================================
            ******** nav bar links *********
==================================================== */

/* ===========category list====== */
#categories-lists a:hover {
    background-color: #EEEFFF;
    color: var(--primary-color);
}

/* ====================================================
            ******** Footer *********
==================================================== */
footer{
    height: 2.5rem;
}
/* ====================================================
            ******** Footer *********
==================================================== */



@media only screen and (max-width:991px){
    li a:is(:link, :active, :visited).news-active:after{
        content: "";  
        display: block; 
        margin-left: 0; 
        width: 10%; 
        padding-top: 0px; 
        border-bottom: 3px solid var(--primary-color);
    }
}